$layout-width-inner:1200px;

$font-en:'Montserrat';
$font-ja: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;

$font-color:#3E3E3E;
$gray:#F3F3F3;
$orange:#FFAA3B;
$blue:#4973FF;
$red:#FF4646;

$Big_Heading :38px;
$Heading :36px;
$SubHeading :20px;
$BaseSize :18px;
$MinimumSize :14px;

$breakpoints: (
'sp': "(max-width: 767px)",
'pc': "(min-width: 768px)",
) !default;

@mixin mq($breakpoint: sp) {
      @media #{map-get($breakpoints, $breakpoint)} {
        @content;
      }
    }
  